$c-text: #283044;
$c-text-secondary: #d9e4dc;
$c-line: #e9f0eb;
$c-error: #ff4757;
$c-background: #f7f7f7;

$box-shadow: 0px 0px 20px 0px rgba(120, 161, 187, 0.3);

$border-radius: 50px;

//screen width
$phone: 767px;
$tablet: 1024px;
